@import 'compass/reset';

.json-manager{
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
  background: #fff;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  *{
    box-sizing: border-box;
  }
  .string-child{
    margin: 6px 0px 6px 36px;
    .string-value{
      // padding-left: 6px;
      // color: #94AB49;
      color: #0B7500;
      &.padding-left{
        padding-left: 6px;
      }
      &.value{
        color: #1A01CC;
      }
    }
    #sim-input{
      // -moz-appearance: textfield;
      // -webkit-appearance: textfield;
      // background-color: white;
      // background-color: -moz-field;
      // border: 1px solid darkgray;
      // box-shadow: 1px 1px 1px 0 lightgray inset;
      // font: -moz-field;
      // font: -webkit-small-control;
      // margin-top: 5px;
      // padding: 2px 3px;
    }
  }
  &[data-theme='dark']{
    background: #282C34;
    *{
      color: #ABB2BF;
    }
    .string-child{
      margin: 6px 0px 6px 36px;
      .string-value{
        // color: #94AB49;
        color: #E5C076;
        &.value{
          color: #61AFEF;
        }
      }
    }
    .array-block, .object-block {
      &:before{
        opacity: 0.3;
      }
    }
  }
  .settingMenu{
    height: 100%;
    width: 300px;
    background: #000;
    position: absolute;
    right: 0px;
    top: 0px;
    ul{
      width: 100%;
      // position: relative;
      padding: 24px;
      li{
        // width: 100%;
        // position: relative;
        .refernceFlagInput{
          width: 100%;
          position: relative;
          height: 30px;
          color: #333;
          font-size: 14px;
        }
      }
    }
  }
}
