.array-block{
  // text-indent: 1em;
  margin: 6px 0px;
  margin-left: 18px;
  // border-left: 1px dotted #bbb;
  line-height: 1.6em;
  // padding: 6px 0px;
  position: relative;
  &.__edited_record{
    opacity: 0.5;
  }
  &:before{
    content: '';
    position: absolute;
    top: 24px;
    bottom: 28px;
    // z-index: -1;
    // border-left: 1px dotted #bbb;
    border-left: 1px dotted #ABB2BF;
    left: 2px;
    // opacity: 0.6;
  }
  &[data-mode="edit"]{
    >span {
      &:hover{
        background-color: rgba(0,0,0,0);
        color: #317FBF;
      }
    }
  }
  >span {
    cursor: pointer;
    transition: background 0.15s ease;
    &:hover{
      background-color: rgba(0,0,0,.5);
    }
  }
  span {
    padding: 0px 6px;
    display: inline-block;
    margin: 0px 0 0 -6px;
  }
  > div {
    margin-left: 18px;
  }
  .array-tail{
    &:after{
      content: ',';
    }
  }
}
