.array-block{
  // text-indent: 1em;
  margin: 6px 0px;
  margin-left: 18px;
  // border-left: 1px dotted #bbb;
  line-height: 1.6em;
  // padding: 6px 0px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 24px;
    bottom: 28px;
    // z-index: -1;
    // border-left: 1px dotted #bbb;
    border-left: 1px dotted #ABB2BF;
    left: 2px;
  }
  span{
    display: inline-block;
  }
  > div {
    margin-left: 18px;
  }
  .array-tail{
    &:after{
      content: ',';
    }
  }
}
